body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3984px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:56px;
}
#u7439 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:739px;
  width:527px;
  height:56px;
  display:flex;
}
#u7439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:32px;
}
#u7440 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:789px;
  width:527px;
  height:32px;
  display:flex;
}
#u7440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:261px;
}
#u7441 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:38px;
  width:632px;
  height:261px;
  display:flex;
}
#u7441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:885px;
}
#u7442 {
  border-width:0px;
  position:absolute;
  left:1852px;
  top:0px;
  width:654px;
  height:885px;
  display:flex;
}
#u7442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:157px;
}
#u7443 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:326px;
  width:675px;
  height:157px;
  display:flex;
}
#u7443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:183px;
}
#u7444 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:877px;
  width:675px;
  height:183px;
  display:flex;
}
#u7444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1369px;
  height:133px;
}
#u7445 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:511px;
  width:1369px;
  height:133px;
  display:flex;
}
#u7445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1369px;
  height:55px;
}
#u7446 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:640px;
  width:1369px;
  height:55px;
  display:flex;
}
#u7446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1193px;
}
#u7447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1193px;
  display:flex;
}
#u7447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
