.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
._图片 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._形状 {
}
._次按钮（动作列表） {
  font-family:'Heiti SC Heavy', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
._退出按钮（动作列表） {
  font-family:'Heiti SC Heavy', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3300;
  text-align:center;
}
._流程形状 {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.paragraph {
  text-align:left;
}
.line {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.box_11 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
  color:#000000;
}
.vertical_line {
}
.checkbox {
  text-align:left;
}
.flow_shape {
}
.table {
}
.iconfont {
  font-family:'iconfont Heavy', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.icon {
}
.box_21 {
}
.text_area {
  color:#000000;
  text-align:left;
}
._形状1 {
  color:#333333;
}
._水平线 {
}
.image1 {
}
.table_cell {
}
.box_12 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.placeholder {
}
.line1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.radio_button {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_disabled {
}
.ellipse1 {
}
.line2 {
}
.button {
}
.flow_shape1 {
}
._表格 {
}
._单元格 {
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
._线段 {
}
.form_hint {
  color:#999999;
}
.icon1 {
}
textarea, select, input, button { outline: none; }
