body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
.u31 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:0px;
  width:112px;
  height:32px;
  display:flex;
  font-size:28px;
  text-align:center;
}
.u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u31_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF9900;
}
.u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:57px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FF9900;
}
.u32 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u32_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:1000px;
  height:68px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
.u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:1000px;
  height:332px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 10px;
  box-sizing:border-box;
  width:100%;
}
.u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:97px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u35_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1244px;
  width:97px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1290px;
  width:1000px;
  height:68px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
.u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1174px;
  width:1000px;
  height:140px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
.u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:639px;
  width:1200px;
  height:542px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 10px;
  box-sizing:border-box;
  width:100%;
}
.u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1129px;
  width:97px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u41_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:97px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
.u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:258px;
}
.u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:781px;
  width:1200px;
  height:258px;
  display:flex;
}
.u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30-1 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:1200px;
  height:1358px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:65px;
  width:1210px;
  height:1498px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
