# 默认忽略的文件
/shelf/
/.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin 忽略的文件
/ZeppelinRemoteNotebooks/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
