.net-fail{
	.net-fail-image{
		width: 400rpx;
		height: 240rpx;
		margin: 0 auto;
		display: block;
		margin-top: 310rpx;
	}
	.tips{
		text-align: center;
		font-size: 28rpx;
		color: #818181;
		margin-top: 40rpx;
	}
	.btn{
		width: 240rpx;
		height: 88rpx;
		line-height: 88rpx;
		text-align: center;
		color: white;
		font-size:30rpx ;
		background-color: #E63E32;
		border-radius: 44rpx;
		margin: 0 auto;
		margin-top: 64rpx;
	}
}