<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.ms.base.mapper.base.GoodsTypeMapper">
    <select id="findByPage" resultType="com.sl.ms.base.entity.base.GoodsTypeEntity">
        SELECT
            goods_type.*
        FROM
            sl_goods_type goods_type
            <if test="truckTypeId != null">
                LEFT JOIN sl_truck_type_goods_type truck_type_goods_type
                    ON truck_type_goods_type.goods_type_id = goods_type.id
            </if>
        WHERE
            goods_type.status = 1
            <if test="truckTypeId != null">
                AND truck_type_goods_type.truck_type_id = #{truckTypeId}
            </if>
            <if test="goodsTypeName != null">
                AND goods_type.name LIKE concat( '%', '${goodsTypeName}', '%' )
            </if>
        ORDER BY
            goods_type.created DESC
    </select>
</mapper>
