body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u8561 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:124px;
  width:196px;
  height:32px;
  display:flex;
  font-size:28px;
  text-align:center;
}
#u8561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF9900;
}
#u8562 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:224px;
  width:112px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FF9900;
}
#u8562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u8563 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:261px;
  width:1000px;
  height:64px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u8563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF9900;
}
#u8564 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:331px;
  width:112px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FF9900;
}
#u8564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u8565 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:371px;
  width:1000px;
  height:94px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u8565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u8566 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:473px;
  width:157px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u8566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u8567 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:511px;
  width:1000px;
  height:74px;
  display:flex;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u8567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
