body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:563px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:27px;
  width:368px;
  height:563px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:62px;
  width:76px;
  height:29px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:11px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:35px;
  width:353px;
  height:11px;
  display:flex;
}
#u1190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:281px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:110px;
  width:247px;
  height:281px;
  display:flex;
}
#u1191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:412px;
  width:337px;
  height:62px;
  display:flex;
}
#u1192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:485px;
  width:337px;
  height:56px;
  display:flex;
}
#u1193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1194 label {
  left:0px;
  width:100%;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:435px;
  width:13px;
  height:16px;
  display:flex;
}
#u1194 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1194_img.selected {
}
#u1194.selected {
}
#u1194_img.disabled {
}
#u1194.disabled {
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1194_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1195 label {
  left:0px;
  width:100%;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:506px;
  width:13px;
  height:16px;
  display:flex;
}
#u1195 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1195_img.selected {
}
#u1195.selected {
}
#u1195_img.disabled {
}
#u1195.disabled {
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1195_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:431px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:502px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:67px;
  width:15px;
  height:21px;
  display:flex;
}
#u1198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 236, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  letter-spacing:-0.1px;
  text-align:center;
  line-height:20px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:0px;
  width:1246px;
  height:590px;
  display:flex;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  letter-spacing:-0.1px;
  text-align:center;
  line-height:20px;
}
#u1199 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:115px;
  width:498px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:19px;
  width:351px;
  height:27px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1201 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:144px;
  width:392px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Heavy', 'PingFang SC Heavy', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:77px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-Heavy', 'PingFang SC Heavy', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:218px;
  width:270px;
  height:126px;
  display:flex;
}
#u1206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:246px;
  width:112px;
  height:29px;
  display:flex;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:294px;
  width:270px;
  height:1px;
  display:flex;
}
#u1208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#AAAAAA;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:307px;
  width:79px;
  height:25px;
  display:flex;
  font-size:15px;
  color:#AAAAAA;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:174px;
  width:459px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:371px;
  width:459px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
