body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:468px;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2957px;
  width:1200px;
  height:468px;
  display:flex;
}
#u5671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:468px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3531px;
  width:1200px;
  height:468px;
  display:flex;
}
#u5672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:517px;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:1200px;
  height:517px;
  display:flex;
}
#u5673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  display:flex;
}
#u5674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1164px;
  width:84px;
  height:35px;
  display:flex;
}
#u5675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1746px;
  width:84px;
  height:35px;
  display:flex;
}
#u5676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2340px;
  width:84px;
  height:35px;
  display:flex;
}
#u5677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2922px;
  width:84px;
  height:35px;
  display:flex;
}
#u5678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3496px;
  width:84px;
  height:35px;
  display:flex;
}
#u5679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:582px;
  width:84px;
  height:35px;
  display:flex;
}
#u5680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:517px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:1200px;
  height:517px;
  display:flex;
}
#u5681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:517px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1199px;
  width:1200px;
  height:517px;
  display:flex;
}
#u5682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:517px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2375px;
  width:1200px;
  height:517px;
  display:flex;
}
#u5683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:228px;
  height:35px;
  display:flex;
}
#u5684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:517px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:35px;
  width:1200px;
  height:517px;
  display:flex;
}
#u5685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:0px;
  width:84px;
  height:35px;
  display:flex;
}
#u5686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:78px;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:216px;
  width:102px;
  height:78px;
  display:flex;
}
#u5687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:0px;
  width:377px;
  height:35px;
  display:flex;
}
#u5688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:245px;
  width:91px;
  height:38px;
  display:flex;
}
#u5689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:249px;
  width:23px;
  height:23px;
  display:flex;
}
#u5690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:253px;
  width:14px;
  height:13px;
  display:flex;
}
#u5691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:248px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5692 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5694_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:108px;
  height:38px;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:2123px;
  top:191px;
  width:98px;
  height:28px;
  display:flex;
}
#u5694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:2132px;
  top:197px;
  width:78px;
  height:13px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5695 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:2140px;
  top:219px;
  width:64px;
  height:64px;
  display:flex;
}
#u5696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:283px;
  width:18px;
  height:18px;
  display:flex;
}
#u5697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:922px;
  width:18px;
  height:18px;
  display:flex;
}
#u5698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:878px;
  width:91px;
  height:38px;
  display:flex;
}
#u5699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:881px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5700 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:888px;
  width:11px;
  height:11px;
  display:flex;
}
#u5701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1524px;
  width:18px;
  height:18px;
  display:flex;
}
#u5702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:1480px;
  width:91px;
  height:38px;
  display:flex;
}
#u5703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1484px;
  width:23px;
  height:23px;
  display:flex;
}
#u5704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1488px;
  width:14px;
  height:13px;
  display:flex;
}
#u5705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:1483px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5706 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5707_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:177px;
  height:273px;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2623px;
  width:173px;
  height:269px;
  display:flex;
}
#u5707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:2573px;
  width:91px;
  height:38px;
  display:flex;
}
#u5708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:2577px;
  width:23px;
  height:23px;
  display:flex;
}
#u5709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:2576px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5710 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:2681px;
  width:51px;
  height:41px;
  display:flex;
}
#u5711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5713_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:108px;
  height:38px;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:2629px;
  width:98px;
  height:28px;
  display:flex;
}
#u5713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:2635px;
  width:78px;
  height:13px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5715_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:160px;
  height:253px;
}
#u5715p000 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:128px;
  width:260px;
  height:40px;
  -webkit-transform:rotate(-51deg);
  -moz-transform:rotate(-51deg);
  -ms-transform:rotate(-51deg);
  transform:rotate(-51deg);
}
#u5715p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u5715p001 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:22px;
  width:60px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5715p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u5715.compound {
  width:0px;
  height:0px;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:3092px;
  width:156px;
  height:249px;
  display:flex;
}
#u5715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:3042px;
  width:91px;
  height:38px;
  display:flex;
}
#u5716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:3046px;
  width:23px;
  height:23px;
  display:flex;
}
#u5717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:3045px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5718 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:3051px;
  width:13px;
  height:13px;
  display:flex;
}
#u5719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5720_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:160px;
  height:253px;
}
#u5720p000 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:129px;
  width:260px;
  height:40px;
  -webkit-transform:rotate(-51deg);
  -moz-transform:rotate(-51deg);
  -ms-transform:rotate(-51deg);
  transform:rotate(-51deg);
}
#u5720p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u5720p001 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:23px;
  width:58px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5720p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:8px;
}
#u5720.compound {
  width:0px;
  height:0px;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:3709px;
  width:156px;
  height:249px;
  display:flex;
}
#u5720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:3958px;
  width:18px;
  height:18px;
  display:flex;
}
#u5721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:3691px;
  width:18px;
  height:18px;
  display:flex;
}
#u5722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:3653px;
  width:91px;
  height:38px;
  display:flex;
}
#u5723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:3657px;
  width:23px;
  height:23px;
  display:flex;
}
#u5724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:3656px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5725 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5726_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:5px;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:3668px;
  width:11px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:3341px;
  width:18px;
  height:18px;
  display:flex;
}
#u5727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:3920px;
  width:91px;
  height:38px;
  display:flex;
}
#u5728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:3924px;
  width:23px;
  height:23px;
  display:flex;
}
#u5729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:3923px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5730 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:3929px;
  width:13px;
  height:13px;
  display:flex;
}
#u5731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1164px;
  width:169px;
  height:35px;
  display:flex;
}
#u5732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5733 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:582px;
  width:169px;
  height:35px;
  display:flex;
}
#u5733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5734 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:2340px;
  width:300px;
  height:35px;
  display:flex;
  text-align:left;
}
#u5734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5735 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:2922px;
  width:300px;
  height:35px;
  display:flex;
  text-align:left;
}
#u5735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5736 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:3496px;
  width:300px;
  height:35px;
  display:flex;
  text-align:left;
}
#u5736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:468px;
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1781px;
  width:1200px;
  height:468px;
  display:flex;
}
#u5737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5738_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:113px;
  height:49px;
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1912px;
  width:103px;
  height:39px;
  display:flex;
}
#u5738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5739_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:160px;
  height:253px;
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1872px;
  width:156px;
  height:249px;
  display:flex;
}
#u5739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1915px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5740 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1915px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5741 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5742_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:113px;
  height:49px;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:2072px;
  width:103px;
  height:39px;
  display:flex;
}
#u5742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:2075px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5743 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Heavy Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:2075px;
  width:53px;
  height:24px;
  display:flex;
  font-family:'PingFang SC Heavy Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5744 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:2116px;
  width:18px;
  height:18px;
  display:flex;
}
#u5745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1860px;
  width:18px;
  height:18px;
  display:flex;
}
#u5746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1951px;
  width:40px;
  height:40px;
  display:flex;
}
#u5747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1746px;
  width:169px;
  height:35px;
  display:flex;
  text-align:left;
}
#u5748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
