body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2229px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:466px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:79px;
  width:368px;
  height:466px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:118px;
  width:76px;
  height:29px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:11px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:87px;
  width:353px;
  height:11px;
  display:flex;
}
#u1599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:350px;
  width:158px;
  height:48px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u1600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:292px;
  width:72px;
  height:25px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1601_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:201px;
  width:74px;
  height:74px;
  display:flex;
}
#u1602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:121px;
  width:15px;
  height:21px;
  display:flex;
}
#u1603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:27px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:25px;
  width:118px;
  height:23px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:27px;
}
#u1604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:466px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:79px;
  width:368px;
  height:466px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:118px;
  width:76px;
  height:29px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:11px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:87px;
  width:353px;
  height:11px;
  display:flex;
}
#u1611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:350px;
  width:158px;
  height:48px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u1612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:303px;
  width:72px;
  height:25px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1613_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:212px;
  width:74px;
  height:74px;
  display:flex;
}
#u1614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:118px;
  width:15px;
  height:21px;
  display:flex;
}
#u1615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:27px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:23px;
  width:101px;
  height:23px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:27px;
}
#u1616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:1160px;
  background:inherit;
  background-color:rgba(255, 236, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  letter-spacing:-0.1px;
  text-align:center;
  line-height:20px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:0px;
  width:1246px;
  height:1160px;
  display:flex;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  letter-spacing:-0.1px;
  text-align:center;
  line-height:20px;
}
#u1617 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:249px;
  width:462px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:20px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:15px;
  width:263px;
  height:27px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1620 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:278px;
  width:246px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1621 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1621_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:85px;
  width:93px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u1622 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:21px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:79px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:199px;
  width:90px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u1625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1625_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:193px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:121px;
  width:462px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:150px;
  width:232px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1628_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
