.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._图片_ {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._连接 {
}
.image {
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
._连接线 {
}
.box_2 {
}
._图片 {
  color:#000000;
}
.line {
}
.label {
  font-size:14px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.button {
}
.icon {
}
.arrow {
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.placeholder {
}
.box_1 {
}
.box_3 {
}
.ellipse {
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
.iconfont {
  font-family:'iconfont Heavy', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.image1 {
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.vertical_line {
}
.checkbox1 {
  text-align:left;
}
.form_disabled {
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.flow_shape1 {
}
._分割线 {
}
.shape1 {
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFang SC Heavy', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.line1 {
}
textarea, select, input, button { outline: none; }
