.starPage{
	background: url(@/static/goin.png) center center no-repeat;
	background-size: contain;
	width: 100vw;
	height: 100vh;
	.page{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.tit{
		width: 38rpx;
		line-height: 40rpx;
		font-size: 28rpx;
		margin: 0 auto;
		letter-spacing: 0.42rpx;
		text-align: center;
		text{
			display: block;
			padding:0 0 10rpx 0;
		}
	}
	.map{
		background: url(@/static/star.png) no-repeat;
		background-size: contain;
		width: 320rpx;
		height: 232rpx;
		margin-top: 80rpx;
		margin-bottom: 142rpx;
	}
	.logo{
		background: url(@/static/logo.png) no-repeat;
		background-size: contain;
		width: 242rpx;
		height: 94rpx;
		left: 50%;
		transform: translate(-50%, 0);
		position: absolute;
		bottom: 5%;
		
	}
}